<h2>All costs</h2>

<table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
        <td>#</td>
        <td>Category</td>
        <td>Sum</td>
        <td>Comment</td>
        <td>Date</td>
        <td>Time</td>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="cost in costs">
        <td>{{ $index + 1 }}</td>
        <td>{{ cost.category }}</td>
        <td>${{ cost.sum }}</td>
        <td>{{ cost.comment }}</td>
        <td>{{ cost.date| date:'dd-MM-yyyy' }}</td>
        <td>{{ cost.time| date:'shortTime'}}</td>
        
    </tr>

    </tbody>
</table>
