
  
   <div class="jumbotron text-center">
   <div class="container-fluid">
   <div class="col-sm-12 col-md-12"> 
    <h1 style="color:#4abbf7"><em><strong>Look at the state of your wallet</strong></em></h1>
      <p style="color:#959595">Choose what best for you ...</p>
       </div>
       <div class="row">
      <div class="col-sm-12 col-md-6">  
      <div class="panel panel-warning">
      <div class="panel-heading">Your costs:</div>
      999999$
      </div>
        <a ui-sref="costs" class="btn btn-warning">Look at your costs =(</a>
       </div>  
       
       <div class="col-sm-12 col-md-6">  
      <div class="panel panel-success">
      <div class="panel-heading">Your profits:</div>
      999999$
      </div>
       <a ui-sref="profits" class="btn btn-success">Look at your profits =)</a>
       </div>
  </div>
   
    

</div>
</div>

<div ui-view></div>
